<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047210941261-90m1tjqbbgs5nkupm9jtvo6dhg9i8ul9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047210941261-90m1tjqbbgs5nkupm9jtvo6dhg9i8ul9</string>
	<key>API_KEY</key>
	<string>AIzaSyA46CfCk_sEF2uQvbzLkXF-VDVWVrNNDy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1047210941261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Firebase-Authentication</string>
	<key>PROJECT_ID</key>
	<string>fir-authentication-8228b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authentication-8228b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047210941261:ios:97f1d10e174329a20bb504</string>
</dict>
</plist>